.env
.env.*
.git
.gitignore
.gitattributes
Dockerfile
docker-compose.yml
.dockerignore
README.md
*.md
.gitmodules
.idea
.vscode
*.log
storage/logs/*
vendor
node_modules
.phpunit.result.cache
.phpunit.cache
.phpactor.json
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
.bossku*
